* {
	margin: 0;
	padding: 0;
	font-family: 'Exo 2', sans-serif;
}

#description {
	margin: 17% auto auto auto;
	width: 17%;
}

#description a {
	color: blue;
	text-decoration: none;
}

#description a:hover {
	color: red;
}

#board {
	background: white;
	display: none;
}

#play {
	border: 1px solid black;
	width: 2.0%;
	margin: 3% auto auto auto;
	padding: 1%;
}


#restart {
	border: 1px solid black;
	display: none;
	width: 3.5%;
	margin: 3% auto auto auto;
	padding: 1%;
}

.button:hover {
	color: red;
	cursor: pointer;
}

#score {
	display: none;
	width: 3.0%;
	margin: 1% auto auto auto;
}
